* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #e2e8f0;
  background-color: #0f172a;
}
header{
    background-color: #1e293b;
    padding: 20px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}
nav h2{
 color: #38bdf8;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 14px;
}

nav a:hover {
  color: #38bdf8;
}

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;  
    margin-bottom: 40px;
    border-bottom: 1px solid #1e293b;
}

section a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

h2{
 color: #38bdf8;
}
p {
    margin-bottom: 20px;
}

#home {
  text-align: center;
  padding-top: 80px;
}

#home h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

#home p {
  max-width: 600px;
  margin: 0 auto 15px;
}

#home div {
  margin-top: 20px;
}

#home a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

#home a:hover {
  background-color: #0ea5e9;
}

#about p,
#focus p {
  max-width: 700px;
}

ul {
  list-style: none;
  padding-left: 0;
}

#skills ul,
#mindset ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

#skills li,
#mindset li {
  background-color: #1e293b;
  padding: 10px;
  border-radius: 6px;
}
#contact p {
  text-align: center;
}

.project-card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #334155;
  transition: all 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #38bdf8;
}

.project-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #cbd5f5;
}

.project-card strong {
  color: #38bdf8;
}

.project-card a {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 14px;
  background-color: transparent;
  border: 1px solid #38bdf8;
  color: #38bdf8;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}

.project-card a:hover {
  background-color: #38bdf8;
  color: #020617;
}
.project-card.featured {
  border: 2px solid #38bdf8;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #020617;
  margin-top: 40px;
}